#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 100%;
    height: auto;
        display: grid;

}
.navbar.toggle{
    background-color: white;
}
.navbar-toggler.collapsed{
    background-color: white;
}

#nav-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
